# Gitignore

# Reject hidden files
._*
*.out
datasets/*
outputs/*
*.pyc
.ipynb_checkpoints/abstraction_model-Copy1-checkpoint.ipynb
.ipynb_checkpoints/abstraction_model-checkpoint.ipynb
__pycache__/*
scenes_*
performance_*
concept_data/typed_simple_fol_depth_40_rejection_sample_trials_100000.json
concept_data/typed_simple_fol_depth_40_rejection_sample_trials_100000.pkl
hypothesis_generation/__pycache__/*
concept_data/grammar_expander_typed_simple_fol_depth_40_ordinal_size.pkl
results_dump.pkl
concept_data/typed_simple_fol_clevr-properties.pkl
concept_data/typed_simple_fol_depth_30_trials_400000.pkl
concept_data/v1_typed_simple_fol_clevr-properties.pkl
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
concept_data/temp_data/v1_typed_simple_fol_clevr_typed_fol_properties.pkl
concept_data/temp_data/v2_typed_simple_fol_clevr_typed_fol_properties.pkl
notebooks/hypothtesis_analysis.ipynb
notebooks/Untitled.ipynb
notebooks/.ipynb_checkpoints/hypothtesis_analysis-checkpoint.ipynb
slurm-17729056.out
log_test/*
env/*
notebooks/create_folder_hypothesis_and_json.ipynb
notebooks/.ipynb_checkpoints/create_folder_hypothesis_and_json-checkpoint.ipynb
notebooks/1.png
notebooks/2.png
notebooks/3.png
notebooks/csv_download.csv
notebooks/structured_splits.ipynb
notebooks/visualize_meta_dataset.ipynb
notebooks/*.png
notebooks/.ipynb_checkpoints/*
release/*
runs/*
